<header>
      <div class="titlediv">
          <h1>{{mytitle}}</h1>
      </div>
      
</header>
<div class="forms">
    <form class="left-form">
        <h3 style="border: 1px solid rgb(171, 32, 32); padding: 10px;border-radius: 5px;text-align: center;">both ways binding essays</h3>
        username :<input [(ngModel)]="ninja.name" name="username">
        password :<input [(ngModel)]="ninja.password" name="password">
        <button (click)="AlerteMe()">show alert</button> <!-- "(click)"event binding -->
        <h2>
            this is your values : <br>
            {{ninja.name}} <br>
            {{ninja.password}} <br>
        </h2>
    </form>
    <form class="right-form">
        <h3 style="border: 1px solid rgb(171, 32, 32); padding: 10px;border-radius: 5px;text-align: center;">custom property binding (input/>output)</h3>
        <h4>data imported from app component to home component:<br></h4>
        <h4>name = {{ninja.name}} <br>
            age = {{ninja.password}}
        </h4> 

        <h4>data exported from home component to app component :<br></h4>

        <button (click)="Fireyellevent($event)">click me</button>   
        <!--the button calls the fireyellevent that emits a new event in the root component and callls the yell function -->

    </form>
</div>
<button (click)="logIt()"> Log me </button>


